@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 480px;
  margin: 0 auto;
  background-color: #202025;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  min-height: 100vh;
  background: rgb(249, 249, 252);
  background: -moz-linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  background: linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9fc",endColorstr="#e6e4f1",GradientType=1);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-btn {
  width: 60px;
  height: 48px;
  border-radius: 9999px;
}

.basic-button {
  width: 100%;
  height: 56px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
