@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 480px;
  margin: 0 auto;
  background-color: #202025;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  min-height: 100vh;
  background: rgb(249, 249, 252);
  background: -moz-linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  background: linear-gradient(
    180deg,
    rgba(249, 249, 252, 1) 0%,
    rgba(230, 228, 241, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9fc",endColorstr="#e6e4f1",GradientType=1);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-btn {
  width: 60px;
  height: 48px;
  border-radius: 9999px;
  background-color: white;
}
